body {
    background-image: url('../Assets/Shotgun_Shells.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*NAVBAR*/

.navbar-inverse {
    background-color: white;
}

.navbar-fixed-top {
    top: -5px;
    border-width: 2px 0px 0px;
}

.navbar-inverse .navbar-nav > li > a {
    color: crimson;
}

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-right: 0px;
    margin-left: -30px;
}

/*JUMBOTRON*/
.jumbotron {
    box-shadow: 0 30px 30px rgba(0,0,0,.5);
    font-family: Amiri;
    background-image: url('../Assets/full_loadout.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    color: white;
    padding-bottom: 140px;
}

/* BOTTOM 3 BOXES BELOW JUMBOTRON ON MAIN INDEX*/
#box-text {
    color: firebrick;
}

#left {
    box-shadow: 0 30px 30px rgba(0,0,0,.5);
    margin-top: 50px;
    background-color: tan;
    background-image: url('../Assets/colt.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 30%;
    border-radius: 25px;
    height: 196px;
    width: 375px;
    margin-bottom: 4em;
    font-family: Amiri;
}

#middle {
    box-shadow: 0 30px 30px rgba(0,0,0,.5);
    margin-top: 50px;
    background-color: tan;
    background-image: url("../Assets/1200px-Cabela's_Logo.svg.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 50%;
    border-radius: 25px;
    height: 196px;
    width: 375px;
    margin: 3.5em 4px 4em 4px;
    font-family: Amiri;
}

#right {
    box-shadow: 0 30px 30px rgba(0,0,0,.5);
    margin-top: 50px;
    background-color: tan;
    background-image: url('../Assets/PointBlankRange-Logo_w-o-Tagline.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 50%;
    border-radius: 25px;
    height: 196px;
    width: 375px;
    margin-bottom: 4em;
    font-family: Amiri;
}

.btn-default {
    box-shadow: 0 30px 30px rgba(0,0,0,.5);
    background-color: #337ab7;
    font-family: Amiri;
    color: white;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: Amiri;
    color: white;
    text-align: center;
}

.p {
    margin: -18px 10px 17px;
}

h2, .h2 {
    font-size: 30px;
    color: white;
}
/*TABLE STUFF*/
.myTable {
    background-color: black;
    color: white;
    opacity: 0.8;
}

.thead {
    color: crimson;

}

/*TEXT IN VIEWS*/
#subtitle-text {
    color: antiquewhite;
    text-decoration: underline;
}

#view-text {
    color: white;
}

#dropdown-text {
    color: black;    
}

/*CAROUSEL*/
#myCarousel {
    box-shadow: 0 30px 30px rgba(0,0,0,.5);
    width: 800px;
    margin-top: 75px;
    margin-left: 180px;
    margin-bottom: 15px;
}

.carousel-inner > .item > img {
    width: 800px;
    height: 500px;
}
