@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3 id="subtitle-text">@ViewBag.Message</h3>

<p id="view-text">The mission of Recoil Enthusisast is to create a one-stop for customer, employee and equipment accountability.</p>
