@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3 class="text-muted">@ViewBag.Message</h3>

<address class="text-muted">
    12175 Visionary Way<br />
    Fishers, IN 46038<br />
    <abbr title="Phone text-muted">P:</abbr>
    855.925.1150
</address>

<address>
    <strong class="text-muted">Support:</strong>   <a href="mailto:Support@example.com">Support@RecoilEn.com</a><br />
    <strong class="text-muted">Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@RecoilEn.com</a>
</address>